.item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.online {
    composes: status;
    background-color: green;
}

.offline {
    composes: status;
    background-color: red;
}

.avatar {
    border: 2px solid #000;
    border-radius: 10px;
}

.name {
    font-size: 18px;
    font-weight: 700;
}