.statistics {
    width: 320px;
    margin: 0 auto 20px auto;
    padding-top: 10px;
    border: 5px solid #000;
    background-color: beige;

}

.title {
    text-align: center;
    margin-bottom: 20px;
    
}

.statlist {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: bisque;
}

.item {
    flex-basis: 20%;
    padding: 5px;
    text-align: center;
    font-weight: 700;
}

.label {
    display: block;
    color: grey;
}

.percentage {
    font-size: 18px;
}